<div class="col-md-6 offset-md-3">
    <h3> Update Student </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="student.firstName" name="firstName">
        </div>

        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="student.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label>Department</label>
            <input type="text" class="form-control" id="department" [(ngModel)]="student.department" name="department">
        </div>
        <div class="form-group">
            <label>Book Name</label>
            <select class="form-control form-select" id="bookName" [(ngModel)]="student.libraryId" name="bookName"
                (change)="onSelectBook($event)">
                <option>--Select--</option>
                <option *ngFor="let item of bookNameList" [value]="item.libraryId">{{item.bookName}}</option>
            </select>
        </div>
        <div style="position: absolute;top:480px">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</div>